# Data
data/

# Model weights & checkpoints
*.pth
*.ckpt
*.pt
*.bin
*.safetensors
models/DiffMICv2-main/logs/
experiments/*/results/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
